/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3a1768;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

h1 {
    display: inline;
    font-size: 2em;
}

/* Styles du formulaire */
main {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 96%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3a1768;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a2a88;
}

/* Lien vers la crÃ©ation de compte */
.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #333;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    background-color: #3a1768;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

b{
    color : #3a1768
}